
/* Apply box-sizing to all elements for easier layout management  */
* {
  box-sizing: border-box;
}
img {max-width: 100%; height: auto; display: block;}

body {
  background-color: #cacacc;
  background-image: url("images/bg.png");

  color: #333;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  /* Centers the page wrapper on the monitor  */
}

/* Header & Navigation  */
header {
  background-color: #cacacc;
  border-bottom: 1px solid #aaa;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 14px;
}

/* Nav Effect 1: Unselected  */
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 5px 10px;
}

/* Nav Effect 2: Hover  */
nav a:hover {
  color: white;
  background-color: #63007e;
  border-radius: 4px;
}

/* Nav Effect 3: Selected  */
.selected {
  color: #63007e;
  border-bottom: 2px solid #63007e;
}

/* 2-Column Layout Structure  */
#wrapper {
  background-color: white;
  max-width: 1000px;
  margin: 20px auto; 
  padding: 20px;
  overflow: auto; /* Clears floats */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

aside {
  width: 25%;
  float: left;
  text-align: right;
  padding: 14px;
  border-right: 1px solid #ddd;
}

section {
  width: 75%;
  float: left;
  padding: 14px;
}

/* Typography & Content */
h1, h2 { color: #333; }
h2 { border-bottom: 1px solid #63007e; padding-bottom: 5px; }
.highlight { color: #63007e; font-weight: bold; }

footer {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #333;
  padding: 20px;
  clear: both;
}